<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon.png">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap" rel="stylesheet">
</head>
<body> 
  <nav>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
    <div class="navlink"><a id="todoButton" href="/todo">Todo List</a></div>
  </nav>
  <section id="content"></section>
  <p id="errorMessage"></span>

  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
