<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon.png">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap" rel="stylesheet">
</head>
<body> 

  <h1>Pomodoro Technique</h1>
  <p>It is a time management method created by Francesco Cirilio in the 1980s to improve focus and productivity by dividing work in 25 minute intervals separated by a 5 minute break. Usually, during your break, you are advised to be off your devices, and take a mental break.</p>
  <div class="options">
    <div class="navButton"><a id="loginButton" href="/login">Login</a></div>
    <div class="navButton"><a id="signupButton" href="/signup">Sign up</a></div>
  </div>
  <section id="content"> </section>
  <img id="logo-pic" src="/assets/img/koi-fish.png" alt="Koi Fish drawing" />

  <div id="domoMessage" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
