<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>About</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navLink"><a href="/about">About</a></div>
  </nav>

  <h1>Welcome, {{username}}</h1>
  <p>Domomaker is a website I had made for an assignment. Here, you can create 'domos' of your liking for longterm usage!</p>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
